@font-face {
  font-family: "toutiao";
  /* Project id 3604185 */
  src: url('//at.alicdn.com/t/c/font_3604185_wskpi5w1irc.woff2?t=1661163564760') format('woff2'), url('//at.alicdn.com/t/c/font_3604185_wskpi5w1irc.woff?t=1661163564760') format('woff'), url('//at.alicdn.com/t/c/font_3604185_wskpi5w1irc.ttf?t=1661163564760') format('truetype'), url('//at.alicdn.com/t/c/font_3604185_wskpi5w1irc.svg?t=1661163564760#toutiao') format('svg');
}
.toutiao {
  font-family: "toutiao" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.ning-youjiantou:before {
  content: "\e60e";
}
.ning-wode:before {
  content: "\e60f";
}
.ning-yanzhengma:before {
  content: "\e610";
}
.ning-zuojiantou:before {
  content: "\e611";
}
.ning-wenda:before {
  content: "\e612";
}
.ning-yuedu:before {
  content: "\e613";
}
.ning-zuopin:before {
  content: "\e614";
}
.ning-dianzan:before {
  content: "\e615";
}
.ning-gengduo:before {
  content: "\e601";
}
.ning-guanbi:before {
  content: "\e602";
}
.ning-dianzan2:before {
  content: "\e603";
}
.ning-pinglun:before {
  content: "\e604";
}
.ning-shanchu:before {
  content: "\e605";
}
.ning-lishi:before {
  content: "\e606";
}
.ning-shoucang:before {
  content: "\e607";
}
.ning-shouye:before {
  content: "\e608";
}
.ning-sousuo:before {
  content: "\e609";
}
.ning-shouji:before {
  content: "\e60a";
}
.ning-shipin:before {
  content: "\e60b";
}
.ning-wuwangluo:before {
  content: "\e60c";
}
.ning-fenxiang:before {
  content: "\e60d";
}
body {
  background-color: #f5f7f9;
}
.page-nav-bar {
  background-color: #323233;
}
.page-nav-bar .van-nav-bar__title,
.page-nav-bar .van-icon {
  color: #fff;
}
